{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
<!--导航栏-->
{% endblock %}

{% block content %}
<!--正文-->
{{ super() }}
<article>
  <!--banner图-->
  <div class="banner">
    <div id="sucaihuo" class="fader">
      <img class="slide" src="{{ url_for('static', filename='images/banner01.jpg') }}">
      <img class="slide" src="{{ url_for('static', filename='images/banner02.jpg') }}">
      <img class="slide" src="{{ url_for('static', filename='images/banner03.jpg') }}">
      <div class="fader_controls">
        <div class="page prev" data-target="prev">&lsaquo;</div>
        <div class="page next" data-target="next">&rsaquo;</div>
        <ul class="pager_list">
        </ul>
      </div>
    </div>
    <script>
$(function() {
	$('#sucaihuo').easyFader();
});
</script>
  </div>
  <div class="blog" >
    <figure>
      <ul>
        <a href="/"><img src="images/mb01.jpg"><span>下载个人博客模板</span></a>
      </ul>
      <p><a href="/">灯具公司复古风格PSD设计稿</a></p>
      <figcaption>此模板为PSD设计稿，复古风格。首页主要突出产品，以及公司简介。手绘灯作为头部背景图片，这个比较特别。html可以做出灯一闪一闪的效果，或者说旁边有个按钮...</figcaption>
    </figure>
    <figure>
      <ul>
        <a href="/"><img src="images/mb02.jpg"><span>下载个人博客模板</span></a>
      </ul>
      <p><a href="/">个人博客模板古典系列之――江南墨..</a></p>
      <figcaption>一共是四个页面，首页，图文列表，图片列表，文字内容。此模板风格为中国古典风格，山水画墨迹成就一幅江南墨卷。页面首页设计较为简单，突出文章重点。图文...</figcaption>
    </figure>
    <figure>
      <ul>
        <a href="/"><img src="images/mb03.jpg"><span>下载个人博客模板</span></a>
      </ul>
      <p><a href="/">美丽的茧</a></p>
      <figcaption>让世界拥有它的脚步，让我保有我的茧。当溃烂已极的心灵再不想做一丝一毫的思索时，就让我静静回到我的茧内，以回忆为睡榻，以悲哀为覆被，这是我唯一的美丽。</figcaption>
    </figure>
    <figure>
      <ul>
        <a href="/"><img src="images/mb04.jpg"><span>下载个人博客模板</span></a>
      </ul>
      <p><a href="/">美丽的茧</a></p>
      <figcaption>让世界拥有它的脚步，让我保有我的茧。当溃烂已极的心灵再不想做一丝一毫的思索时，就让我静静回到我的茧内，以回忆为睡榻，以悲哀为覆被，这是我唯一的美丽。</figcaption>
    </figure>
  </div>


  </article>
{% endblock %}

{% block footer %}
{{ super() }}
<!--尾部-->
{% endblock %}